body{
    background-color: hsl(172, 67%, 45%)
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

#billAmount{ 
    background: url(images/icon-dollar.svg) no-repeat scroll;
    padding-left: 30px;
}

#numberOfPeople{
    background: url(images/icon-person.svg) no-repeat scroll;
    padding-left: 30px;
}

#rightSide{
  float:left; 
  margin-right:100px;
  width:140px;
  border: white;
}

#leftSide{
  overflow:hidden;
  margin: 20px;
  min-height:170px;
  border: purple;
}

fieldset{
    border: none;
}